<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>

<!-- displaying top post -->
<% @tpost.each_with_index do |link, i| %>
  <% a=link.content.gsub! /\s+/, '-' %>
  <% @top=a.to_s.chop %>
  <a href="http://try.discourse.org/t/<%= @top %>/" target="_blank"><%= simple_format link.content %></a>
  <% break if i == 1 %>
<% end %>

<% Toppost.where(tpost: "#{@top}").first_or_create! %>

<% 
me = FbGraph::User.me("CAAGCzjI6pisBANZCgHGlZBvHXch6n47myhRHpH7FR7zZAy85C40EMwzZBJXsn6R2YhZBWuSd0cOWSx5MZBeBhdKBXiYUXlG1GWMhZA0n92RLhB9LNUWz6IFetepRTiqBanvjm5gqz5uj88CtQfcZBHyhUd7U26SuVQVZCi1bsj6FZAk3OP3HwyfLuY2IGbcGtY9cZCTeSSB7watHP8QsXtvjhpWBf1VehZCtecQZD")
me.feed!(
  :message => 'Updating via FbGraph',
)
%>