<%= @doc.at_css("title").text %>
<% 
  @doc.css(".item").each do |item|
  title = item.at_css(".prodLink").text
  price = item.at_css(".PriceCompare .BodyS, .PriceXLBold").text[/\$[0-9\.]+/]
%> 
  <%= "#{title} - #{price}" %>
  <%= item.at_css(".prodLink")[:href] %>
<% end %>
<br>

# Search for nodes by css
<% @doc1.css('nav ul.menu li a').each do |link| %>
  <%= link.content %>
<% end %>
<br>

# Search for nodes by xpath
<% @doc1.xpath('//h2 | //h3').each do |link| %>
  <%= link.content %>
<% end %>
<br>

# Or mix and match.
<% @doc1.search('code.sh', '//h2').each do |link| %>
  <%= link.content %>
<% end %>
<br> 

# Discourse Search for nodes by css
<% @doc2.css('table.ember-view topic-list tbody tr.ember-view topic-list-item category-uncategorized td.main-link clearfix a.title').each do |link| %>
  <%= link.content %>
<% end %>
<br>

# Search for nodes by xpath
<% @doc2.xpath('//a').each do |link| %>
  <a href = "http://try.discourse.org/t/<%= link.content %>/"><%= link.content %></a><br>
<% end %>
<br>

# Or mix and match.
<% @doc2.search('a.title', '//h2').each do |link| %>
  <%= link.content %>
<% end %>
<br> 