<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
<% end %>

<!-- displaying top post -->
<% @tpost.each_with_index do |link, i| %>
  <% a=link.content.gsub! /\s+/, '-' %>
  <% @top=a.to_s.chop %>
    <% unless i%2 != 0 %>
      <% @toppost = link.content %>
      <a href="http://try.discourse.org/t/<%= @top %>/" target="_blank"><%= simple_format @toppost %></a>
    <% end %>
  <% break if i == 2 %>
<% end %>

<% Toppost.where(tpost: "#{@top}").first_or_create! %>

<%# current_user.publish("http://try.discourse.org/t/#{@top}/","facebook") if current_user %>


<a class="btn btn-block btn-social btn-facebook">
    <i class="fa fa-facebook"></i> Sign in with Facebook
</a>